apiVersion: v1
kind: ConfigMap
metadata:
  name: gocart-config
  namespace: default
data:
  config.yaml: |
    server:
      port: 8080
    database:
      host: localhost
      port: 5432
      user: gocart
      password: secret
